.hand {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 1%;
    margin: 1%;
    justify-content: center;
}

.handCondensed {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 1%;
    margin: 1%;
    justify-content: center;
}

.handList {
    display: flex;
    justify-content: center;
    gap: 5%;
}

.handStatusLabel {
    display: flex;
    justify-content: center;
    margin: 1%;
}

.cardRender {
    max-width: 100%;
}