.card {
    width: 200px;
    height: auto;
}

.hand {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    gap: 10px;
    margin: 10px;
    justify-content: center;
}

.handCondensed {
    display: grid;
    grid-template-columns: repeat(5, 30px);
    gap: 10px;
    margin: 10px;
    justify-content: center;
}

.handList {
    display: flex;
    justify-content: center;
    gap: 5%;
}

.handStatusLabel {
    display: flex;
    margin: 10px;
}