.container {
    display: inline-flex;
    position: relative;
    justify-content: center;
}

.container:hover .dropdown {
    display: block;
    z-index: 100;
}

.option {
    border: solid 1px;
    padding: 5%;
    cursor: pointer;

    font-weight: 400;
    font-size: 1em;
}

.dropdown {
    display: none;
    z-index: auto;

    position: absolute;

    top: 100%;

    background-color: rgb(50, 50, 50, 0.75);
}

.grid-container {
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    gap: 5px;
}

.grid-item {
    cursor: pointer;
    width: 60px;
    height: auto;
}

::selection {
    background: transparent;
}